table {border-collapse: collapse;}
input{border: none;}
input:focus{outline: none;}
td{text-align: center; background: RGB(230,230,230);}

#title{text-indent: 20px;}
#operating_display{text-align: right; height: 30px; width: 210px; background-color: dimgray; color:white;}
#result_display{text-align: right; height: 30px; width: 210px; background-color: dimgray; color:white;}

.num_button{height: 50px; width: 50px; font-size: 18pt;}
.operand_button{height: 50px; width: 50px; font-size: 18pt; background-color: palegoldenrod;}

#ac_button{height: 50px; width: 157px; font-size: 18pt;}
#zero_button{height: 50px; width: 104px;}