.stock{
    background-color: gray;
    color : white;
}

.state{
    background-color: forestgreen;
    color : white;
}

#pay_button{
    padding-left:200px;
    padding-right:200px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: blue;
    color : white;
    font-size : 20px;
}

#order {
    color : forestgreen;
}

#result {
    color : blue;
}